@import '../../../assets/theme/_var.scss';

.profileInformation {
  display: flex;

  @media (max-width:991px) {
    flex-wrap: wrap;
  }

  &_setpsBar {
    width: 466px;
    height: 100vh;
    padding: 5rem 5rem 5rem 7rem;
    background-color: $bluebg;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: auto;

    @media (max-width:1199px) {
      width: 350px;
      padding: 3rem 3rem;
    }

    @media (max-width:991px) {
      width: 100%;
      height: auto;
    }

    @media (max-width:767px) {
      padding: 3rem 1.5rem;
    }

    .setpsBox {
      h2 {
        color: $white;
        font-size: 4.2rem;
        font-weight: 500;
        line-height: 5.2rem;
        letter-spacing: -0.8px;
        text-transform: capitalize;
        margin-bottom: 6rem;

        @media (max-width:1366px) {
          font-size: 3.2rem;
          line-height: 4.2rem;
          margin-bottom: 3rem;
        }

        @media (max-width:1199px) {
          font-size: 2.8rem;
          line-height: 3.8rem;
        }

        @media (max-width:767px) {
          margin-bottom: 2rem;
          font-size: 2.5rem;
          line-height: 3.5rem;
        }
      }

      &_Namelist {
        @media (max-width:991px) {
          display: flex;
        }

        li {
          padding-bottom: 3.2rem;
          position: relative;
          z-index: 1;
          padding-left: 4.8rem;

          @media (max-width:991px) {
            padding-bottom: 0rem;
            padding-top: 4.5rem;
            padding-left: 0rem;
            padding-right: 1rem;
          }

          &::after {
            content: '';
            height: 100%;
            width: 2px;
            background-color: #eaecf0;
            position: absolute;
            left: 15px;
            top: 32px;

            @media (max-width:991px) {
              width: 100%;
              height: 2px;
              left: 32px;
              top: 15px;
            }
          }

          &::before {
            content: '';
            position: absolute;
            width: 32px;
            height: 32px;
            background-color: $whitebg1;
            left: 0;
            top: 0;
            border-radius: 10rem;
            z-index: 1;
          }

          &:last-child {
            &::after {
              display: none;
            }
          }

          &.active {
            &::after {
              background-color: $blueclr;
            }

            &::before {
              background-image: url('../../../assets/images/okcheck.svg');
              background-repeat: no-repeat;
              background-color: transparent;
            }
          }

          h6 {
            color: $white;
            font-size: 1.6rem;
            font-weight: 500;
            margin-bottom: 0.2rem;

            @media (max-width:767px) {
              font-size: 1.3rem;
            }
          }

          p {
            color: $greytextclr1;
            font-size: 1.6rem;
            font-weight: 400;

            @media (max-width:767px) {
              font-size: 1.2rem;
            }
          }

          &.inProgress {
            &::before {
              background-image: url('../../../assets/images/inprogressration.svg');
              background-repeat: no-repeat;
              background-color: $white;
              background-size: 24px;
              background-position: center;
            }
          }
        }
      }
    }

    .setpsFooter {
      padding-top: 3rem;

      @media (max-width:1366px) {
        padding-top: 1rem;
      }

      h3 {
        color: $white;
        font-size: 2.6rem;
        font-weight: 700;
        line-height: 3.2rem;

        @media (max-width:1199px) {
          font-size: 2.2rem;
          line-height: 2.8rem;
        }
      }

      p {
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 2.6rem;
        margin: 0.8rem 0 1.9rem;
        color: $greytextclr1;

        @media (max-width:1199px) {
          font-size: 1.4rem;
          line-height: 2.4rem;
        }
      }

      .btn-style {
        width: 100%;
        font-size: 2rem;
        font-weight: 600;
        line-height: 3.2rem;
        flex-direction: row-reverse;

        @media (max-width:1199px) {
          font-size: 1.6rem;
          line-height: 2.8rem;
          height: 5.2rem;
        }

        img {
          margin-right: 1rem;
        }
      }
    }
  }

  &_rightbar {
    width: calc(100% - 466px);
    padding: 3.8rem;
    height: 100vh;
    overflow-y: auto;
    background-color: $blackbg;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    position: relative;

    @media (max-width:1199px) {
      width: calc(100% - 350px);
    }

    @media (max-width:991px) {
      width: 100%;
      height: auto;
    }

    @media (max-width:575px) {
      padding: 3.8rem 2rem;
      overflow-x: hidden;
    }

    &::-webkit-scrollbar {
      width: 0.5em;
    }

    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    }

    &::-webkit-scrollbar-thumb {
      background-color: $graylight;
    }

    .backbtn {
      position: absolute;
      top: 4rem;
      left: 4rem;

      @media (max-width:767px) {
        left: 2rem;
        top: 2.5rem;
      }

      a {
        border-radius: 100px;
        border: 1px solid #fff;
        opacity: 0.5;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 32px;
        color: $white;
        padding: 12px 23px;
        min-width: 135px;
        display: inline-flex;
        align-items: center;
        transition: all ease-in-out 0.3s;

        @media (max-width:767px) {
          padding: 6px 23px;
          min-width: 135px;
          font-size: 15px;
          line-height: 24px;
        }

        svg {
          margin-right: 8px;
        }

        &:hover {
          border: 1px solid $bluebg;
          background-color: $bluebg;
          opacity: 1;
        }
      }
    }
  }
}

.common {
  &_stepcard {
    border-radius: 3.1rem;
    background-color: $white;
    box-shadow:
      0px 8px 8px -4px rgba(16, 24, 40, 0.03),
      0px 20px 24px -4px rgba(16, 24, 40, 0.08);
    padding: 3.2rem 3.4rem;
    max-width: 665px;
    margin: 8.5rem auto 3rem;

    @media (max-width:575px) {
      padding: 2rem 1.5rem;
      margin-top: 6rem;
      margin-bottom: 0;
    }

    .btn-style {
      height: 6rem;
      font-size: 1.6rem;
      font-weight: 500;

      @media (max-width:575px) {
        height: 5rem;
      }
    }
  }

  &_stepBanner {
    img {
      border-radius: 2.4rem;
    }
  }

  &_stepheading {
    padding: 2.3rem 0 3rem;

    @media (max-width:575px) {
      padding: 2rem 0 2rem;
    }

    h3 {
      font-size: 2.4rem;
      font-weight: 700;
      line-height: 3.2rem;
      text-transform: capitalize;

      @media (max-width:575px) {
        font-size: 1.8rem;
        line-height: 2.8rem;
      }
    }

    p {
      color: $textclr;
      font-size: 1.8rem;
      font-weight: 300;
      line-height: 2.6rem;
      margin-top: 0.8rem;

      @media (max-width:767px) {
        font-size: 1.4rem;
        line-height: 2.2rem;
      }
    }
  }
}

.pointer {
  cursor: pointer;
}

/* Media query for screens with a maximum width of 768px (typical for mobile devices) */
@media (max-width: 768px) {
  .setpsBox {
    margin: auto;

    // text-align: center;
    h2 {
      text-align: center;
    }

    .active-step {
      p {
        font-size: 1.2rem !important;
        font-weight: 500;
        line-height: 2.6rem;
        color: $greytextclr1 !important;
        text-align: center;
      }

      h2 {
        text-align: center;
        padding-bottom: 0rem !important;
        margin: 0.5rem !important;
      }
    }

    //   @media (max-width:1199px) {
    //     font-size: 1.4rem;
    //     line-height: 2.4rem;
    //   }
    // }

    &_Namelist {
      padding-left: 20px;

      li {
        position: relative !important;
        z-index: 1 !important;
        padding-left: 4.8rem !important;

        &::after {
          content: '';
          height: 2px !important;
          width: 26px !important;
          background-color: #eaecf0 !important;
          position: absolute !important;
          left: 32px !important;
          top: 17px !important;
        }

        &::before {
          content: '' !important;
          position: absolute !important;
          width: 32px !important;
          height: 32px !important;
          background-color: $whitebg1 !important;
          left: 0 !important;
          top: 0 !important;
          border-radius: 10rem !important;
          z-index: 1 !important;
        }

        &:last-child {
          &::after {
            display: none;
          }
        }

        &.active {
          &::after {
            background-color: $blueclr !important;
          }

          &::before {
            background-image: url('../../../assets/images/okcheck.svg');
            background-repeat: no-repeat;
            background-color: transparent;
          }
        }

        h6 {
          color: $white;
          font-size: 1.3rem;
          font-weight: 500;
          margin-bottom: 0.2rem;
        }

        &.inProgress {
          &::before {
            background-image: url('../../../assets/images/inprogressration.svg') !important;
            background-repeat: no-repeat !important;
            background-color: $white !important;
            background-size: 20px !important;
            background-position: center !important;
          }
        }
      }
    }
  }

  /* Styles for the div elements on mobile screens */

}