@import '../../../assets/theme/_var.scss';

.tooltip_icon {
  cursor: pointer;

  svg {
    width: 1.4rem;
    height: 1.4rem;
  }
}

.tooltip {
  background-color: $white;

  :global {
    .tooltip-inner {
      background-color: $black;
      text-align: left;
      padding: 1rem 0.8rem;
      max-width: 24rem;

      h4 {
        font-size: 1.4rem;
      }

      p {
        font-size: 1.2rem;
        margin-top: 1rem;
      }
    }
  }
}
